*
!*.yaml
!.gitignore
secrets.yaml
known_devices.yaml
*.log
*.db
www
tts
deps
phue.conf
.HA_VERSION
.uuid
__pycache__
custom_components/__pycache__
custom_components/binary_sensor/__pycache__
custom_components/clinmate/__pycache__
custom_components/sensor/__pycache__
custom_components/switch/__pycache__